  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: black;
  }

  header {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 50px;
    background-color: black;
  }

  .app-bar {
    padding: 8px 16px;
    /* background-color: white; */
    background-color: black;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

  .app-bar .app-bar__menu {
    display: flex;

    align-items: center;
  }

  .app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
  }

  .app-bar .app-bar__brand {
    display: flex;
    align-items: center;
  }

  .app-bar .app-bar__brand h1 {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    user-select: none;
  }

  .app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: black;
    overflow: hidden;
  }

  .app-bar .app-bar__navigation.open {
    left: 0;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 20px;
  }

  .jumbotron {
    display: flex;
    align-items: center;
    min-height: 400px;
    width: 100%;
    text-align: center;
    background-position: center;
    background: url(../../dist/public/heros/hero-image_3_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 15px;
    color: white;
    justify-content: center;
    flex-direction: column;
  }

  #hamburgerButton {
    color: white;
    font-size: 44px;
  }

  .jumbotron h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 6px;
  }

  .jumbotron p {
    letter-spacing: 2px;
  }

  section {
    width: 100%;
    margin: 0 auto;
  }

  .list {
    margin: 32px auto;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-row-gap: 16px;
  }

  .content {
    padding: 32px;
  }

  .content .title-content {
    text-align: center;
  }

  .list-item {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    position: relative;
  }

  .sub-title {
    position: absolute;
    top: 8px;
    right: 16px;
    border-radius: 5px;
    background-color: yellow;
    padding: 7px;
    color: black;
    font-weight: 400;
  }

  .photo {
    width: 100%;
    max-height: 200px;
  }

  .list-content {
    padding: 20px;
  }

  .rate {
    font-weight: 800;
    color: gold;
    padding: 5px;
    border-radius: 8px;
    text-align: right;
    -webkit-text-stroke: 0.2px black;
  }

  footer {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 12px;
    width: 100%;
    text-align: center;
  }

  .skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;
  }

  .skip-link:focus {
    top: 0;
  }

  .resto__info h3 {
    text-align: center;
    padding-bottom: 5px;
  }

  .restos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 32px 0;
  }

  /*
  resto Item
*/

  .resto-item {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
  }

  .resto-item__header {
    position: relative;
  }

  .resto-item .resto-item__header .resto-item__header__poster {
    width: 100%;
  }

  .resto-item .resto-item__header .resto-item__header__rating {
    position: absolute;
    top: 8px;
    right: 16px;
    border-radius: 5px;
    background-color: yellow;
    padding: 7px;
    color: black;
    font-weight: 400;
  }

  .resto-item .resto-item__header .resto-item__header__rating .resto-item__header__rating__score {
    margin-left: 10px;
  }

  .resto-item .resto-item__content {
    padding: 16px;
  }

  .resto-item .resto-item__content h3 {
    margin: 0 0 10px 0;
  }

  .resto-item .resto-item__content h2 a {
    color: black;
    text-decoration: none;
    display: inline-block;
    min-width: 44px;
    min-height: 44px;
  }

  .resto-item .resto-item__content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  /*
  resto
*/

  .resto {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px 16px;
  }

  /* .restaurant .pisture_resto .resto__poster {
  width: 100%;
  border: 5px;
} */

  .resto .resto__info h4 {
    margin: 8px 0;
  }

  #review {
    padding: 5px;
  }

  .date {
    margin-top: 10px;
  }

  /*
  Like
*/

  .like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 429px), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .list {
      grid-template-columns: repeat(1, 1fr)
    }

    .jumbotron h1 {
      font-size: 4em;
    }

    .jumbotron {
      background: url(../../dist/public/heros/hero-image_3_small.jpg);
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media screen and (min-width: 430px) {
    .list {
      grid-template-columns: repeat(2, 1fr)
    }

    .jumbotron {
      background: url(../../dist/public/heros/hero-image_3_small.jpg);
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media screen and (min-width: 650px) {
    .app-bar {
      grid-template-columns: 1fr auto;
      padding: 8px 32px;
    }

    .jumbotron {
      background: url(../../dist/public/heros/hero-image_3_large.jpg);
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .list {
      grid-template-columns: repeat(3, 1fr)
    }

    .app-bar .app-bar__brand h1 {
      font-size: 1.5em;
    }

    .app-bar .app-bar__menu {
      display: none;
    }

    .app-bar .app-bar__navigation {
      position: static;
      width: 100%;
    }

    .app-bar .app-bar__navigation ul li {
      display: inline-block;
    }

    .app-bar .app-bar__navigation ul li a {
      display: inline-block;
      width: 120px;
      text-align: center;
      margin: 0;
    }

    .restos {
      grid-template-columns: 1fr 1fr;
    }

    .resto {
      grid-template-columns: auto 1fr;
    }

    .resto .resto__title {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .resto .resto__overview {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  @media screen and (min-width: 800px) {
    .app-bar .app-bar__brand h1 {
      font-size: 2em;
    }
  }

  @media screen and (min-width: 850px) {
    .list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 1200px) {
    .list {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media screen and (min-width: 1600px) {
    .list {
      grid-template-columns: repeat(5, 1fr);
    }
  }